@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color: white;
    --background-color: linear-gradient(to left, #C4E0E5, #4CA1AF);
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    color: var(--color);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    -webkit-tap-highlight-color: transparent;
}

/*  */

.loader-container{
    display: grid;
    place-items: center;
    position: fixed;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    z-index: 5;
}

.loader-text{
    font-size: 8rem;
    font-weight: 900;

    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: loaderanimation 2s infinite alternate;
}

@keyframes loaderanimation{
0%{
    background-position: left;
}
100%{ background-position: right;}
}

/*  */


.lds-ellipsis {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -40px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}


/*  */

footer {
    position: fixed;
    bottom: 0%;
    min-width: 100%;
    transition: all 0.3s ease;
    background: var(--background-color);
}

footer a {
    text-decoration: none;
    color: white;

}

footer a:hover {
    text-shadow: 0px 0px 4px #C4E0E5;
}

/* header and form section input and button */
header {
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

header,
.form-todo-input {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-todo-input input,
.form-todo-input button {
    padding: 0.5rem;
    font-size: 2rem;
    /* color: white; */
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    /* outline-color: #4CA1AF; */
    outline: none;


}

.todo-input {
    transition: all 0.3s ease-out;
}

.todo-input::placeholder {
    color: white;
    font-size: 1rem;
}

.todo-input:focus {
    background: white;
    border: none;
    transition: all 0.3s ease-in;
}

.form-todo-input:has(.todo-input:focus) {
    margin-left: 0rem;
}

.todo-input:focus+button {
    background: white;
    border: none;
    cursor: pointer;
    color: #4CA1AF;
    /* display: block; */
    /* visibility: visible; */
    /* opacity: 1; */
    transition: all 0.3s ease-in;
}

.form-todo-input button {
    color: white;
    /* display: none; */
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: all 0.3s ease-out;
}

.todo-input:focus+button:hover {
    color: white;
    background: #4CA1AF;
}

/* Todo list section */

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.todo-list {
    height: 50vh;
    min-width: 50%;
    list-style: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: all 0.3s ease;

}

.todo-list::-webkit-scrollbar {
    width: 5px;
}


/* Handle */
.todo-list::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.53);
    border-radius: 10px;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
    transition: all 0.3s ease-out;
}

.active-todo {
    box-shadow: 0px 0px 20px 3px #ffffffb1;
}

.todo li {
    flex: 1;
    padding-left: 10px;
    word-break: break-all;
}

/* Transition of list after delete */

.fall {
    transform: translateY(20rem) rotateZ(40deg);
    opacity: 0;
    transition-delay: 2ms;
}

/* done and trash button section */

.todo button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fa-done {
    color: white;
    background: #6fc752;
}

.fa-done:hover {
    color: black;
    background: #3cff00;
}

.fa-trash {
    color: white;
    background: #b33838;
}

.fa-trash:hover {
    color: black;
    background: #ff0000;
}

#completed {
    text-decoration-line: line-through;
    opacity: 0.5;
}

/* Menu button */

.menu-btn {
    position: absolute;
    z-index: 4;
    right: 0;
    margin-right: 2rem;
    transition: all 0.5ms ease-in;
}

.menu-btn button {
    padding: 0.5rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 100%;
    outline: none;
}


/* Profile button */
.profile-btn {
    position: absolute;
    z-index: 4;
    left: 0;
    margin-left: 2rem;
}

.profile-btn button {
    padding: 0.5rem;
    font-size: 2rem;
    /*this is for icon */
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 100%;

}

.profile-btn img {
    left: 0;
    height: 70px;
    width: 70px;
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    /* color: white; */
    border-radius: 100%;

}

/* profile section */

.profile-container {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    touch-action: none;
}

.profile-section {
    min-width: 34%;
    min-height: 48%;
    background-color: rgb(0 0 0 / 95%);
    font-size: 1.5rem;
    border-radius: 10px;
    overflow-y: auto;
}

/* login signUp section change button */
.login-signup {
    display: flex;
}

.login-signup h2 {
    flex: 1;
    padding: 0% 5% 0%;
    cursor: pointer;
}

.login-signup h2:nth-of-type(1) {
    text-align: left;
    /* background-color: rgba(91, 98, 105, 0.877);
    box-shadow: inset -5px -5px 5px -5px #333; */

}

.login-signup h2:nth-of-type(2) {
    text-align: right;
    background-color: #36454F;
    /* background-color: rgba(91, 98, 105, 0.877); */
    box-shadow: inset 4px -4px 10px -5px #333;
    /* border-bottom-left-radius: 20px; */
    border-radius: 0px 10px 0px 10px;
}


.login-block,
.sign-up-block {
    padding: 6% 12% 5%;
    margin-top: 1rem;
    height: 50vh;
}

.login-block form,
.sign-up-block form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input,
.login-remeber-me,
.sign-up-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* border: #3cff00 solid 2px; */
    margin-bottom: 20px;
}

.login-remeber-me{
    /* align-self: flex-start; */
    font-size: 0.8em;
}

.login-input input,
.sign-up-input input {
    width: 100%;
}

.login-input input,
.login-input span,
.sign-up-input input,
.sign-up-input span {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.login-input input,
.sign-up-input input{
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
}

.login-input input:valid,
.sign-up-input input:valid{   
    border-bottom: 2px solid white;
}

.login-input input:invalid,
.sign-up-input input:invalid{
    border-bottom: 2px solid red;
}

/* .login-input input:focus:invalid,
.sign-up-input input:focus:invalid{
    border-bottom: 2px solid red;
} */

.login-input input::placeholder,
.sign-up-input input::placeholder{
    color: white;
    font-size: 0.8em;

}


.login-remeber-me input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #eee;

}



.login-block form button,
.sign-up-block form button {
    height: 5.5vh;
    width: 70%;
    align-self: center;
    border: 1px solid white;
    background: transparent;
    /* border-radius: 5px; */
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.login-block form button:hover,
.sign-up-block form button:hover{
    background: white;
    color: black;
}

.sign-up-block form button{
    margin: 20px 0px;
}

.forget-pass {
    margin-top: 20px;
    text-align: right;
    align-self: flex-end;
    cursor: pointer;
    font-size: 0.9em;
}



/* Settings menu section */

.setting-container {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    touch-action: none;
}

.setting-block {
    display: inline-block;
    position: absolute;
    padding: 5% 5% 5%;
    background-color:rgb(0 0 0 / 95%);
    /* box-shadow: 0px 0px 20px 5px #000000b1; */
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.background-option {
    list-style: none;
    display: flex;
    width: 30rem;
    gap: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 1rem 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.background-option::-webkit-scrollbar {
    height: 5px;
}


/* Handle */
.background-option::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.53);
    border-radius: 10px;
}

.background-option div {
    width: min-content;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;
    /* transition: all 0.5s ease; */
}

.activetheme {
    opacity: 0.2;
}
/* .activetheme::after{
    content: "Selected";
    position: absolute;
} */

.background-option img {
    z-index: 0;
    height: 16vh;
    border-radius: 10px;
}


.background-option span {
    font-size: 1.5rem;
}


/* media queries */
@media (max-width:555px) {

    .loader-text{
        font-size: 4rem;
    }

    header,
    .form-todo-input {
        min-height: 18vh;
    }

    .form-todo-input input,
    .form-todo-input button {
        max-width: 65%;
        padding: 0.3rem;
    }

    .profile-block button,
    .profile-block input {
        max-width: none;
        padding: 0.5rem;
        font-size: 1rem;
    }

    .todo-list {
        min-width: 90%;
    }

    .todo-list::-webkit-scrollbar {
        width: 3px;
    }

    .todo button {
        padding: 0.8rem;
    }

    .setting-block {
        font-size: 1rem;
    }

    .background-option {
        width: 18rem;
    }

    .background-option span {
        font-size: 1rem;
    }

    .background-option img {
        height: 12vh;

    }

    .menu-btn {
        margin-right: 1rem;
    }

    .menu-btn button {
        font-size: 1.5rem;
    }

    .profile-btn {
        margin-left: 1rem;
    }

    .profile-btn button {
        font-size: 1.5rem;
    }

    .profile-section {
        font-size: 1rem;
        min-width: 80%;
    }

    .login-input input,
    .login-input span,
    .sign-up-input input,
    .sign-up-input span {
        font-size: 1rem;
        padding: 0.4rem;
    }

    .login-block,
    .sign-up-block {
        height: 0;
    }

        .login-remeber-me input[type="checkbox"] {
            height: 0.8rem;
        }

    header {
        font-size: 1.3rem;
    }

    footer {
        font-size: 0.8rem;
    }


}